<ul>
  <li class="{% if page.url contains '/lab/' %}current{% endif %}"><a href="{{ site.baseurl }}/lab/">Research</a></li>
  <li class="{% if page.url contains '/courses/' %}current{% endif %}"><a href="{{ site.baseurl }}/courses/">Teaching</a></li>
  <li class="{% if page.url contains '/people/' %}current{% endif %}"><a href="{{ site.baseurl }}/people/">People</a></li>
  <li class="{% if page.url contains '/blogs/' %}current{% endif %}"><a href="{{ site.baseurl }}/blogs/">Blogs</a></li>
  <li class="{% if page.url contains '/software/' %}current{% endif %}"><a href="{{ site.baseurl }}/software/">Software</a></li>
  <li><a href="http://ra.cartwrig.ht/cv/ReedCartwrightCV.pdf" target="newtab">CV</a></li>
</ul>

