@font-face {
    font-family: 'TeX Gyre Adventor';
    src: url('texgyreadventor-regular-webfont.eot');
    src: url('texgyreadventor-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('texgyreadventor-regular-webfont.woff') format('woff'),
         url('texgyreadventor-regular-webfont.ttf') format('truetype'),
         url('texgyreadventor-regular-webfont.svg#texgyreadventorregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TeX Gyre Adventor';
    src: url('texgyreadventor-italic-webfont.eot');
    src: url('texgyreadventor-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('texgyreadventor-italic-webfont.woff') format('woff'),
         url('texgyreadventor-italic-webfont.ttf') format('truetype'),
         url('texgyreadventor-italic-webfont.svg#texgyreadventorregular') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'TeX Gyre Adventor';
    src: url('texgyreadventor-bold-webfont.eot');
    src: url('texgyreadventor-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('texgyreadventor-bold-webfont.woff') format('woff'),
         url('texgyreadventor-bold-webfont.ttf') format('truetype'),
         url('texgyreadventor-bold-webfont.svg#texgyreadventorregular') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TeX Gyre Adventor';
    src: url('texgyreadventor-bolditalic-webfont.eot');
    src: url('texgyreadventor-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('texgyreadventor-bolditalic-webfont.woff') format('woff'),
         url('texgyreadventor-bolditalic-webfont.ttf') format('truetype'),
         url('texgyreadventor-bolditalic-webfont.svg#texgyreadventorregular') format('svg');
    font-weight: 700;
    font-style: italic;
}
